<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>
<nav th:replace="fragments :: navigationEmployee"></nav>


<form th:if="${hasEmployees == true}" method="post" style="max width:300px;">
    <div class="form-group">
        <table class="table">

            <tr>
                <th>Name</th>
                <th>Phone Number</th>
                <th>Email</th>
            </tr>

            <tr th:each="employee : ${employees}">
                <td th:text="${employee.name}"></td>
                <td th:text="${employee.phoneNumber}"></td>
                <td th:text="${employee.email}"></td>
            </tr>

        </table>
    </div>

</form>
<form th:if="${hasEmployees == false}" method="post" style="max width:300px;">
        <div class="form-group">
            <h3>This Workplace doesn't seem to have any employees... </h3>

            <a href="/login/employee/add" class="btn btn-info" >Add Employee</a>
        </div>


</form>
        <footer th:replace="fragments :: navigationFooter"></footer>
</body>
</html>