<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<div class="container">
    <div class="row">
        <div class="container">
            <div class="page-header" style="height:100px;">
                <object   data="/images/logo.svg" type="image/svg+xml" height="50" width="50" style="display: inline-block;">Fail</object>
                <h1  style="display:inline-block; margin-left: 20px;" th:text="${title}">Default Title</h1>
            </div>

        </div>




    <form method="post" style="max-width:600px;">
        <div class="form-group">
            <label th:for="username">Username:</label>
            <input class="form-control" name="username" placeholder="Enter Username"/>
        </div>
        <div class="form-group">
            <label th:for="password">Password:</label>
            <input type="password" class="form-control" name="password" placeholder="Enter Password" />
            <span th:text="${signInFail}" class="error"></span>
        </div>
        <div class="form-group">
        <div class="form-check">
            <label class="form-check-label">Remember Me</label>
            <input type="checkbox" class="form-check-input"/>

        </div>
        </div>
        <div class="form-group">
        <input type="submit" class="btn btn-success" value="Sign In!"/>
        </div>
    </form>
    </div>
</div>




</body>
</html>