<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>
<nav th:replace="fragments :: navigationEmployeeCategory"></nav>


<form method="post" style="max width:300px">
    <div class="form-group">
    <input th:each="employeeCategory : ${categories}" th:value="${employeeCategory.name}" name="cataToRemove" type="submit" class="btn btn-success"/>
    </div>
</form>


<footer th:replace="fragments :: navigationFooter"></footer>
</body>
</html>